{% extends "cornice.html" %}
{% block titolo %}
maltoliquido | per appassionati | tutte le birre esistenti
{% endblock %}
{% block corpo %}
<div id="corpo">
	Cache hits: {{stats["hits"]}}
	Cache missed: {{stats["misses"]}}
	<div class="upload_url">{{upload_url}}</div>
	{% if birra %}
	<div class="birra">
		<div class="autore">
			<a href="/autore/{{birra.autore}}">Ultima modifica: {{birra.autore}}</a>
		</div>
		{% for attributo in json_data["attributi_birra"] %}
			{% if attributo.ascii == "immaginebirra" %}
				{% if birra.immaginebirra %}
				<div class="immaginebirra"><a href="{{birra.immaginebirra}}"><img src="{{birra.immaginebirra}}"/></a></div>
				{% endif %}
			{% else %}
				{% if birra[attributo.ascii] %}
				<div class={{attributo.ascii}}>
					<span>{{attributo.text}}</span>
					<a href="/{{attributo.ascii}}/{{birra[attributo.ascii][1]}}">{{birra[attributo.ascii][0]}}</a>
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}
		<div class="key">{{birra.key}}</div>
		<button type="button" id="modifica">Modifica birra</button>
		<button type="button" id="acquisto">Acquistata?</button>
		<div class="cronologia">
			<a href="/cronologia/{{birra['nome'][1]}}">
				Cronologia delle modifiche
			</a>
		</div>	
	</div>
	{% endif %}
	{% if acquisti %}
	{{acquisti}}
	<div class="acquisti">
		{% for acquisto in acquisti %}
		<div class="autore">
			<a href="/autore/{{acquisto.autore}}">Acquisto di: {{acquisto.autore}}</a>
		</div>
		{% for attributo in json_data["attributi_acquisto"] %}
			{% if acquisto[attributo.ascii] %}
			<div class={{attributo.ascii}}>
				<span>{{attributo.text}}</span>
				<a href="/{{attributo.ascii}}/{{acquisto[attributo.ascii][1]}}">{{acquisto[attributo.ascii][0]}}</a>
			</div>
			{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}
